* {
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    color: rgb(104, 104, 49);
}

h1,
h2,
h3,
h4 {
    display: block;
    text-align: center;
    border: 3px dotted burlywood;
}